footer {
    background-color: #d4d4d433;
	width: 100%;
	height: 150px;
    margin: auto;
	margin-bottom: 20px;
}

.paprikalogo {
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 3em;
    margin-right: 12em;
}

.paprikalogo img{
	width: 53px;
	height: 53px;
	border-radius: 10px 10px 10px 10px;
    text-align: right;
}

.container {
	width: 164px;
	height: 77px;
	color: #000000;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
    float: left;
    padding-top: 1em;
    padding-left: 2em;
	padding-bottom: 0%;
}

#rectangle {
	width: 100%;
	height: 48px;
	background-color: #f08a5d;
	margin: auto;
}