<!DOCTYPE html>
<div class="bigpic-container">
  <img id="bigpic" src="./assets/img/modern-kitchen.jpg" />
  <div class="shopnow">
    <button mat-raised-button id="shopnowBtn">
      <a href="/productList">Shop Now</a>
    </button>
  </div>
  <div class="horizontal"></div>
  <div class="cat-bar">
    <ul>
      <li><a href="#">Soffor</a></li>
      <li><a href="#">Bänkar</a></li>
      <li><a href="#">Köksgrupper</a></li>
      <li><a href="#">Stolar</a></li>
      <li><a href="#">Sängar</a></li>
      <li><a href="#">Förvaring</a></li>
      <li><a href="#">Belysning</a></li>
      <li><a href="#">Inredning</a></li>
    </ul>
  </div>
  <div class="horizontal"></div>
</div>
