<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <input
        class="d-flex"
        role="search"
        class="form-control me-2"
        type="search"
        placeholder="Sök efter produkt"
        aria-label="Search"
        ng-model="searchText"
        [(ngModel)]="searchText"
      />
      <button class="btn btn-secondary" type="submit">Sök</button>
    </div>
  </div>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-md-4">
  <div class="col" *ngFor="let product of getSearchProducts()">
    <div class="card h-100 w-100" [ngClass]="{ 'single-card': isSingleCard() }">
      <img
        src="{{ product.product_image }}"
        class="card-img-top"
        alt="Bild på {{ product.product_name }}"
      />
      <div *ngFor="let discount of discounts">
        <div
          class="card-body"
          *ngIf="discount.discount_id == product.discount_id"
        >
          <h5 class="card-title">{{ product.product_name }}</h5>
          <h5 class="card-title newPrice">
            {{ newprice(product.product_price, discount.discount_percent) }}
            kr
          </h5>
          <h5 class="card-title oldPrice">{{ product.product_price }} kr</h5>

          <p class="card-text">{{ product.product_desc }}</p>
          <a href="/product/{{ product.product_id }}" class="btn btn-secondary"
            >Visa produkt</a
          >
        </div>
      </div>
      <div *ngIf="!product.discount_id">
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <h5 class="card-title">{{ product.product_price }} kr</h5>
          <p class="card-text">{{ product.product_desc }}</p>
          <a href="/product/{{ product.product_id }}" class="btn btn-secondary"
            >Visa produkt</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
